<footer class="page-footer">
    <div class="container-fluid px-0">
        <div class="links">
            {% for category in site.data.footerCategories %}
            <a class="text-decoration-none" href="{{'category.slug | relative_url }}">
                {{ category.name }}
            </a>
            {% endfor %}
        </div>
        <div class="social-icons">
            {% for social in site.data.socials %}
            <a class="mx-0" target="_blank" href="{{ social.url }}{{ social.username }}">
                <i class="{{ social.icon }} text-dark"></i>
            </a>
            {% endfor %}
        </div>
        <p>
            Latest Update: {{ "now" | date: "%d/%m/%Y - %H:%M" }}
        </p>
        <p class="copyright text-muted mb-0">Copyright &copy;
            <a target="_blank" class="text-decoration-none text-muted mx-0 font-weight-bold" style="font-size: 1rem;"
                href="https://github.com/emretepedev">
                {{ site.author }}
            </a>
            {{ 'now' | date: "%Y" }}
        </p>
    </div>
</footer>