<footer class="page-footer">
    <div class="container-fluid px-0">
        <div class="links">
            {% for altkategori in site.data.altkategoriler %}
            <a class="text-decoration-none" href="{{'altkategori.slug | relative_url }}">{{ altkategori.name }}</a>
            {% endfor %}
        </div>
        <div class="social-icons">
            {% for sosyalmedya in site.data.sosyalmedyalar %}
            <a class="mx-0" target="_blank" href="{{ sosyalmedya.url }}{{ sosyalmedya.username }}"><i class="{{ sosyalmedya.icon }} text-dark"></i></a>
            {% endfor %}
        </div>
        <p>Bu sayfa en son {{ "now" | date: "%d/%m/%Y - %H:%M" }} tarihinde güncellendi.</p>
        <p class="copyright text-muted mb-0">Copyright &copy; <a target="_blank" class="text-decoration-none text-muted mx-0 font-weight-bold" style="font-size: 1rem;" href="https://github.com/emretepeyazilim">{{ site.author }}</a> {{ 'now' | date: "%Y" }}</p>
    </div>
</footer>
